.container {
  width: min(1280px, 100% - 2rem);
  margin: auto;
}

.banner {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.bannerImg {
  background-image: url("/banner_2.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bannerImg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  backdrop-filter: blur(2px);
  background-image: linear-gradient(0deg, #000, transparent);
}

.bannerContent {
  padding: 1rem;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.subtitle {
  color: #c4c4c4;
}

.btnPlus {
  margin-top: 1rem;
  display: flex;
  width: fit-content;
  background-color: #ffffff50;
  border: 1px solid #ffffff15;
  color: #fff;
  backdrop-filter: blur(10px);
  padding: 7px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.grid {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.cardImg {
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url("/product.png");
  background-position: center;
  background-size: cover;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.options {
  font-size: 14px;
  color: #525252;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 1rem;
}

.rowCard {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

.columnCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.price {
  flex: 1;
  font-size: 20px;
  font-weight: 900;
}
