.container {
  width: min(1280px, 100% - 1em);
  margin: auto;
}

.banner {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.bannerImg {
  background-image: url("/banner_2.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bannerImg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  backdrop-filter: blur(2px);
  background-image: linear-gradient(0deg, #000, transparent);
}

.bannerContent {
  padding: 1em;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--font-size-header);
}

.subtitle {
  color: #c4c4c4;
}

.btnPlus {
  margin-top: 1em;
  display: flex;
  width: fit-content;
  background-color: #ffffff50;
  border: 1px solid #ffffff15;
  color: #fff;
  backdrop-filter: blur(10px);
  padding: 7px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.grid {
  margin-top: 2em;
  margin-bottom: 4em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
  justify-content: start;
}

@media only screen and (max-width: 950px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .description {
    padding: 0.5em;
  }
}

.productImg:hover img {
  scale: 1.1;
  cursor: pointer;
}

.productImg:hover::before {
  opacity: 1;
  cursor: pointer;
}

.productImg::before {
  opacity: 0;
  content: "";
  background: linear-gradient(transparent, #00000020);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.1s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.productImg {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 12px;
}

.productImg img {
  transition: 0.1s ease-in-out;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.description {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 1em;
}

.description p:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  font-size: var(--font-size);
}
.description p:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-size);
  color: #999;
}
